<p id="notice"><%= notice %></p>

<p>
  <strong>Day 1:</strong>
  <%= @day.day_1 %>
</p>

<p>
  <strong>Day 2:</strong>
  <%= @day.day_2 %>
</p>

<p>
  <strong>Day 3:</strong>
  <%= @day.day_3 %>
</p>

<p>
  <strong>Day 4:</strong>
  <%= @day.day_4 %>
</p>

<p>
  <strong>Day 5:</strong>
  <%= @day.day_5 %>
</p>

<p>
  <strong>Day 6:</strong>
  <%= @day.day_6 %>
</p>

<p>
  <strong>Day 7:</strong>
  <%= @day.day_7 %>
</p>

<p>
  <strong>Day 8:</strong>
  <%= @day.day_8 %>
</p>

<p>
  <strong>Day 9:</strong>
  <%= @day.day_9 %>
</p>

<p>
  <strong>Day 10:</strong>
  <%= @day.day_10 %>
</p>

<p>
  <strong>Day 11:</strong>
  <%= @day.day_11 %>
</p>

<p>
  <strong>Day 12:</strong>
  <%= @day.day_12 %>
</p>

<p>
  <strong>Day 13:</strong>
  <%= @day.day_13 %>
</p>

<p>
  <strong>Day 14:</strong>
  <%= @day.day_14 %>
</p>

<p>
  <strong>Day 15:</strong>
  <%= @day.day_15 %>
</p>

<p>
  <strong>Day 16:</strong>
  <%= @day.day_16 %>
</p>

<p>
  <strong>Day 17:</strong>
  <%= @day.day_17 %>
</p>

<p>
  <strong>Day 18:</strong>
  <%= @day.day_18 %>
</p>

<p>
  <strong>Day 19:</strong>
  <%= @day.day_19 %>
</p>

<p>
  <strong>Day 20:</strong>
  <%= @day.day_20 %>
</p>

<p>
  <strong>Day 21:</strong>
  <%= @day.day_21 %>
</p>

<p>
  <strong>Day 22:</strong>
  <%= @day.day_22 %>
</p>

<p>
  <strong>Day 23:</strong>
  <%= @day.day_23 %>
</p>

<p>
  <strong>Day 24:</strong>
  <%= @day.day_24 %>
</p>

<p>
  <strong>Day 25:</strong>
  <%= @day.day_25 %>
</p>

<p>
  <strong>Day 26:</strong>
  <%= @day.day_26 %>
</p>

<p>
  <strong>Day 27:</strong>
  <%= @day.day_27 %>
</p>

<p>
  <strong>Day 28:</strong>
  <%= @day.day_28 %>
</p>

<p>
  <strong>Day 29:</strong>
  <%= @day.day_29 %>
</p>

<p>
  <strong>Day 30:</strong>
  <%= @day.day_30 %>
</p>

<p>
  <strong>Day 31:</strong>
  <%= @day.day_31 %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
